@keyframes move {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(2.5px); }
  100% {
    transform: translateY(0); }
}

.second-story {
    display: none;
}

header i.down-arrow {
   position: relative;
   animation-name: move;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   color: rgba(255, 255, 255, 0.7);
}

header .border {
    border-radius: 50%;
    border: solid 1px rgba(255, 255, 255, 0.4);
    display: block;
    width: 50px;
    height: 50px;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 24px;
    margin-top: 14%;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: normal;

}
.container-fluid{
    padding: 0;
}
.arrow {
    -webkit-animation-delay: 1s;
}

@media (min-width: 1470px){
    .container-fluid {
        width: 1440px;
    }
}
.forward-arrow {
    padding-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    line-height: inherit;
}
h2 {
    font-size: 36px;
    font-style: italic;
    line-height: 1.33;
    color: #000000;
}
p {
    font-size: 20px;
}
i.material-icons {
    color: #8511c0;
    /*font-size: 16px;*/
    position: relative;
}
.top-story i, header i {
    top: 0;
}
.forward-arrow {
    top: 5px;
}
.ingress {
    font-size: 30px;
    line-height: 1.33;
}
a {
    color: #8511c0;
    border-bottom: 0;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
}
a:hover, a:focus {
    color: #8511c0;
    text-decoration: none;
    border-bottom: 1px solid #8511c0;
    transition: 0.3s ease-out;
}

header a {
    color: #fff;
    float: right;
}

header .forward-arrow {
    margin-left: 0;
    float: right;
    color: #fff;
    top: 0;
}
header a:hover, a:focus {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

header {
    background-image: url('img/bgr.png');
    height: 284px;
    background-size: cover;
    padding: 20px;
}
header h1, .third-story h2 {
    font-size: 56px;
    font-style: normal;
    line-height: 1.0;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding-top: 8%;

}
header .border {
    display: none;
}
header .logo {
    max-width: 9%;
}

.top-story, .second-story, .third-story, .fourth-story {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 8.3%;
    padding-right: 8.3%;
}

.top-story {
    background-color: #fff;
    color: #000;
    line-height: 1.29;
}
.top-story p{
    font-size: 24px;
	line-height: 1.42;
}

.second-story {
    background-color: #f4f4f2;
}

.second-story img {
    display: block;
    max-width: 46.9%;
}
.third-story{
    padding: 0;
    padding-bottom: 60px;
}

.third-story .traces-bgr {
    background-image: url('img/traces_bgr.png');
    height: 284px;
    background-size: cover;
    margin-bottom: 65px;
}
.third-story h2 {
    padding-top: 11%;
    padding-left: 8.3%;
    padding-right: 8.3%;
    margin-top: 0;
}
.third-story h3 {
    font-size: 24px;
    font-style: italic;
    line-height: 1.25;
    font-weight: normal;
    margin-top: 50px;
    padding-left: 8.3%;
    padding-right: 8.3%;
}
.third-story img, .third-story p{
    padding-left: 8.3%;
    padding-right: 8.3%;
}
.third-story i {
    padding-left: 8.3%;
}
.third-story .ingress{
    padding-left: 8.3%;
    padding-right: 8.3%;
    font-size: 24px;
	line-height: 1.42;
    margin-bottom: 50px;
}
.third-story .curator {
    margin-top: 30px;
}

.fourth-story {
    background-color: #222;
    color: #fff;

}
.fourth-story h2, .fourth-story a, .fourth-story i {
    color: #fff;
}
.fourth-story a:hover, .fourth-story a:focus {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.fourth-story a.arrow-left {
    margin-left: 0;
}

.fourth-story img {
    width: 46.9%;
    -webkit-animation-duration: 1s;
}
.fourth-story p {
    width: 83.3%;
}

.btn {
    white-space: normal;
    font-size: 20px;
    background-color: #fff;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-top: 25px;
    border-bottom: 0;
    margin-left: 8.3%;
    margin-right: 8.3%;
}
.btn i {
    top: 5px;
    position: relative;
    margin-right: 10px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-bottom: 0;
    color: #8511c0;
}

.third-story .btn i {
    padding-left: 0;
}

@media (min-width: 769px){
    header .border{
        display: block;
    }
    .top-story, .second-story, .third-story, .fourth-story {
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 0;
        padding-right: 0;
    }
    .second-story p, .second-story h2{
        margin-left: 18.8%;
        max-width: 640px;
    }
    .third-story h2 {
        padding-top:22%;
    }
    .third-story p, .third-story img, .third-story h2, .third-story h3{
        margin-left: 18.8%;
        padding: 0;
    }
    .third-story img {
        max-width: 900px;
    }
    .fourth-story p, .fourth-story a, .fourth-story h2, .fourth-story i{
        margin-left: 18.8%;
    }
    .forward-arrow {
        margin-left: 18.8%;
    }
    header h1 {
        padding-top: 19%;
    }
    .top-story i.forward-arrow {
        margin-left: 18.8%;
    }


    .forward-arrow {
        padding-right: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: bottom;
        line-height: inherit;
    }
    h2 {
    	font-size: 42px;
    	font-style: italic;
    	line-height: 1.29;
    	color: #000000;
    }
    p {
        font-size: 20px;
    }
    i.material-icons {
        color: #8511c0;
        padding-left: 0;
    }
    .ingress {
        font-size: 30px;
    	line-height: 1.33;
    }
    a {
        color: #8511c0;
        border-bottom: 0;
        font-size: 20px;
    	line-height: 1.5;
        position: relative;
    }

    a:hover, a:focus {
        color: #8511c0;
        text-decoration: none;
        border-bottom: 1px solid #8511c0;
        transition: 0.3s ease-out;
    }

    header a {
        color: #fff;
        float: right;
    }

    header .forward-arrow {
        margin-left: 0;
        float: right;
        color: #fff;
    }
    header a:hover, a:focus {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }

    header {
        background-image: url('img/bgr.png');
        height: 720px;
        background-size: cover;
        padding: 40px;
    }
    header h1, .third-story h2 {
        font-size: 96px;
        max-width: 900px;
        margin-left: 18.8%;
        padding-top: 10%;
    }
    header i.arrow {
    }
    header .logo {
        max-width: 100px;
    }

    .top-story {
        background-color: #fff;
        color: #000;

    	line-height: 1.29;
    }
    .top-story p{
        max-width: 900px;
        font-size: 42px;
    }

    .second-story {
        background-color: #f4f4f2;
    }

    .second-story img {
        display: block;
        max-width: 420px;
        margin-left: 18.8%;
    }
    .third-story{
        padding-top: 0;
    }

    .third-story .traces-bgr {
        background-image: url('img/traces_bgr.png');
        height: 720px;
        background-size: cover;
        margin-bottom: 90px;
    }
    .third-story h2 {
        padding-top:20%;
    }
    .third-story h3 {
        font-size: 24px;
    	font-style: italic;
    	line-height: 1.25;
        font-weight: normal;
        margin-top: 50px;
    }
    .third-story img {
        max-width: 640px;
    }

    .third-story p{
        max-width: 640px;

    }
    .third-story .ingress{
        max-width: 900px;
        font-size: 42px;
        line-height: 1.29;
        margin-bottom: 50px;
        padding: 0;
    }
    .third-story .curator {
        margin-top: 30px;
    }

    .fourth-story {
        background-color: #222;
        color: #fff;
        padding-left: 0;
        padding-right: 0;

    }
    .fourth-story h2, .fourth-story a, .fourth-story i {
        color: #fff;
    }
    .fourth-story a:hover, .fourth-story a:focus {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }
    .fourth-story a.arrow-left {
        margin-left: 0;
    }

    .fourth-story img {
        max-width: 420px;
    }
    .fourth-story p {
        max-width: 640px;
    }
    .btn {
        width: 367px;
        padding: 10px 23px 13px 20px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

}

.second-story img, .fourth-story img {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
}

