/*-----*****----------EVENTS CALENDAR----------*****-----*/

#tribe-events-content-wrapper{
    /* max-width: 1080px; */
    margin: 0 auto;
}

.tribe_events-template-default #left-area {
    width: 62.11%;
    padding-bottom: 100px;
}
.tribe_events-template-default #sidebar {
    width: 31.25%;
}
.tribe_events-template-default h1.entry-title.main_title, #tribe-events-header {
    display: none;
}
h1.tribe-events-page-title{
    text-align: left;
    margin-bottom: 0px;
    padding: 0;
    font-weight: 500;
    font-size: 30px;
}

.tribe_events-template-default dd {
    margin-left: 0;
}

#sidebar .tribe-events-event-meta{
    background-color: #c5763a;
    padding: 25px;
    font-size: 18px;
    border-top: none;
    color: #fff;
}
#sidebar .tribe-events-event-meta:first-child {
    border-top: none;
    margin: 0;
}
 #sidebar .tribe-events-event-meta dt {
    display: none;
}

 #sidebar .tribe-events-start-date {
    font-size: 30px;
    line-height: 36px;
    font-family: Roboto-light;
    text-decoration: none;
}
#sidebar .jm-booking-link a{
    color: #fff;
    border: solid 2px #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 30px;
}

.tribe-events-single-section-title {
    font-size: 18px!important;
    color: #fff;
    line-height: normal;
}
.tribe-events-meta-group .url a {
    color: #fff;
}
.jm-tribe-event-category p, .jm-share-buttons p {
    font-size: 14px;
    margin-top: 40px;
    padding-bottom: 9px;
    line-height: normal;
}
.jm-tribe-event-category p:last-of-type {
    padding-bottom: 9px;
}
.jm-tribe-event-category, .jm-share-buttons {
    float: left;

}
.jm-tribe-event-category {
    margin-right: 20px;
}

.tribe-events-event-categories a {
    color: #fff;
    border: 2px solid #fff;
    font-size: 12px;
    border-radius: 100px;
    padding: 5px 15px;
}

.tribe-events-content p{
    font-size: 16px;
    margin-bottom: 10px;
}
.tribe-events-list #jm-all-events .tribe-events-event-image img {
    width: 100%;
}
.tribe-events-list #jm-all-events .event-text-wrapper {
    max-width: 780px;
}

@media (min-width: 980px) {
    .tribe-events-list #jm-all-events .tribe-events-event-image img {
        width: auto;
    }
    .tribe-events-list #jm-all-events .tribe-events-event-image {
        float: right;
        margin-left: 20px;
    }
    .tribe-events-list #jm-all-events .list-event-has-img {
        float: left;
    }
    
    h1.tribe-events-page-title{
        font-size: 60px;
        margin-bottom: 20px;
        padding: inherit;
    }
    
}
.tribe-events-read-more.jm-arrowed-link::before {
    top: 0;
}
.event-is-recurring {
    padding-left: 10px;
    color: #666;
}

.tribe-events-list #jm-all-events .tribe-event-schedule-details {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.22;
    padding-bottom: 10px;
}
.tribe-events-list #jm-all-events .tribe-events-list-event-title {
    font-weight: bold;
    line-height: 1.26;
    margin: 0;
}
.tribe-events-list #jm-all-events .tribe-events-event-meta:first-child {
    border-top: none;
}
.tribe-events-list #jm-all-events .jm-event {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
}
.tribe-events-list #jm-all-events .tribe-events-nav-next.tribe-events-nav-right {
    float: right;
}
.tribe-events-list #jm-all-events .tribe-events-nav-previous.tribe-events-nav-left {
    float: left;
}


/*** Take out the divider line between content and sidebar ***/
#main-content .container:before {background: none;}

    /*** Expand the content area to fullwidth ***/
    @media (min-width: 981px){
    .post-type-archive-tribe_events.et_pb_gutter.et_pb_gutters2 #left-area {
        width: 100%;
        padding: 23px 0px 0px !important;
        float: none !important;
        border-right: none;
    }
    #jm-all-events {
        margin-left: auto;
        margin-right: auto;
        /* width: 70.47%;  63.378%; */
        /* width: 80%; */
        width: 70.47%;
    }
}
/*** Hide Sidebar for all events ***/
.post-type-archive-tribe_events #sidebar {
    display:none!important;
}

.tribe-events-month-event-title,
#tribe-events-bar,
.tribe-events-othermonth {
    display: none;
}
.tribe-events-calendar {
    background-color: #000000;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-right: 80px;
    padding-left: 80px;
    display: block;
}

.tribe-events-calendar span div {
    float: left;
}
.tribe-events-calendar div[id*=tribe-events-daynum-], .tribe-events-calendar div[id*=tribe-events-daynum-] a{
    background-color: #000000;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    padding-left: 4px;
    padding-right: 4px;
}

.tribe-events-calendar div[id*=tribe-events-daynum-] a {
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 3px;
}
.tribe-events-back a {
    border: solid 2px #000000;
    color: #000000;
    background-color: transparent;
    padding: 15px 30px;
    float: left;
    font-size: 14px;
    display: block;
}
.entry-content .tribe-events-back  a:hover {
    border: solid 2px #000000;
    color: #fff;
    background-color: #000000;
    padding: 15px 30px;
    font-size: 14px;
}

@media (min-width: 980px) {
    
}
