/*
Theme Name: Intellecta divi adaption
Theme URI:
Version: 1.0
Description: Smart. Flexible. Beautiful. Divi is the most powerful theme in our collection.
Author: Elegant Themes, adapted by Intellecta
Author URI:
Template:     Divi
*/

body {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 0;
}
h3 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 0;
}
h4 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 0;
}
h5 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 0;
}

/*Quickfix by Adde for error on https://judiskamuseet.se/bidra-med-din-historia/ */
.et_pb_portofolio_pagination{
	clear:both;
}

@media only screen and (min-width: 981px) {
    h1.entry-title {
        line-height: 54px;
    }
    h2 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 38px!important;
        line-height: 48px;
        padding-bottom: 0;
    }
    h3 {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 22px!important;
        line-height: 32px;
        padding-bottom: 0;
    }
    h4 {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 18px!important;
        line-height: 30px;
        padding-bottom: 0;
    }
    h5 {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 18px!important;
        line-height: 30px;
        font-weight: normal;
        padding-bottom: 0;
    }
}


.et_pb_widget_area_right {
    border: none;
    padding: 0;
}
#main-header.et-fixed-header, #main-header {
    box-shadow: none!important;
}
.et_header_style_left .logo_container{
    width: 100px;
}
/*Header search*/
div.ev-header-search{
    display: none;
}
.ev-header-search {
    display: block;
    float: right;
}
.ev-header-search .screen-reader-text {
    display: none;
}

.ev-header-search .search-submit {
    color: #777;
    background-color: #fff;
	font-size: 17px;
    padding: 0;
    border: 0;
}
.ev-header-search .search-field {
    background-color: #fff;
    border: 0;
    color: #000;
    font-size: 16px;
    text-align: right;
}
.ev-header-search .icon_search:before {
    content: "\55";
    font-size: 64px;
    color: #c5763a;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "ETmodules";
    font-size: 25px;
    font-weight: bold;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    text-transform: none;
    speak: none;
    top: -20px;
    position: absolute;
    transform: scaleX(-1);
    cursor: pointer;
}
/*Header search in mobile menu*/
li.ev-header-search {
    margin: 10px;
    display: block;
    width: 98%;
}
li.ev-header-search form {
    background: #fff;
    position: relative;
}

li.ev-header-search input[type=text] {
    font-family: 'Helvetica Neue LT W01_55 Roman','HelveticaNeue-Roman', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #4e154c;
    padding: 12px;
    border: 0;
    width: 85%;

}
li.ev-header-search .search-submit {
    background: #fff;
    color: #333;
    padding-top: 10px;
    border: 0;
    float: right;
}
li.ev-header-search .search-submit span::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 42px;
}
li.ev-header-search .search-submit span {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    display: block;
    height: 42px;
}

@media (min-width: 981px) {
    li.ev-header-search{
        display: none!important;
    }
    div.ev-header-search {
        display: block;
        margin-left: auto;
        margin-right: 20px;
        padding-top: 6px;
    }
    .ev-header-search .screen-reader-text {
        display: none;
    }

    .ev-header-search .search-submit {
        color: #c5763a;
        background-color: #fff;
    	font-size: 17px;
        padding: 0;
        border: 0;
        position: relative;
    }
    .ev-header-search .search-field {
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid #fff;
        color: #000;
        font-size: 14px;
        transition: 0.3s ease-out;
        width: 250px;
        line-height: 1.6;
        padding-bottom: 3px;
        font-stretch: condensed;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }
    .ev-header-search .search-field::placeholder {
        font-size: 14px;
	    font-stretch: condensed;
        line-height: 2.14;
        color: #4a4a4a;
    }
    .ev-header-search .search-field:-ms-input-placeholder {
        font-size: 14px;
	    font-stretch: condensed;
        line-height: 2.14;
        color: #4a4a4a;
    }
    .ev-header-search .search-field::-ms-input-placeholder {
        font-size: 14px;
	    font-stretch: condensed;
        line-height: 2.14;
        color: #4a4a4a;
    }
    .ev-header-search .search-field::-moz-placeholder {
        font-size: 14px;
	    font-stretch: condensed;
        line-height: 2.14;
        color: #4a4a4a;
    }
    .ev-header-search .search-field::-webkit-input-placeholder {
        font-size: 14px;
	    font-stretch: condensed;
        line-height: 2.14;
        color: #4a4a4a;
    }
    .ev-header-search .search-field::-webkit-input-placeholder {
        font-size: 14px;
	    font-stretch: condensed;
        line-height: 2.14;
        color: #4a4a4a;
    }
    .ev-header-search .search-field:hover,
    .ev-header-search .search-field:focus {
        border-bottom: 1px solid #ccc;
        width: 250px;
        text-align: left;
    }
}
@media (max-width: 980px)
{
    .et_header_style_left #logo, .et_header_style_split #logo {
         max-width: 100%;
         max-height: 60%;
     }
     #et-main-area .container {
         padding-left: 20px;
         padding-right: 20px;
     }
     .logo_container {
         margin-left: 20px;
     }
     #et_mobile_nav_menu {
         margin-right: 20px;
     }

}
.nav ul li a:hover, .et_mobile_menu li a:hover {
    opacity: 1;
    background-color: #c1ac95;
}
@media (max-width: 479px) {
    .et_pb_post h2, .et_pb_blog_grid h2 {
        padding-bottom: 0;
        font-size: 22px;
        line-height: 30px;
    }
}
/*Hamburger mobile menu*/
.mobile_menu_bar {
    position: absolute;
    top: 25px;
    right: 5px;
    margin-right: 20px;
}
.mobile_menu_bar::before {
    font-weight: bold;
}
.mobile_nav .select_page {
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 33px;
    color: #c5763a;
    margin-top: 4px;
}

/*-----*****----------HELPER CLASSES----------*****-----*/
.jm-watermark .entry-featured-image-url {
    position: relative;
}
.jm-watermark .entry-featured-image-url::after {
    content: url(img/jm_symbol.png);
    z-index: 999999;
    position: absolute;
    top: 20px;
    right: 20px;
}
.jm-arrowed-link {}
.jm-vinjett {
    font-size: 20px;
	line-height: 2.4;
	letter-spacing: 4px;
    font-weight: 300;
}
.jm-super-bold-header {
    font-size: 96px;
	font-weight: bold;
	line-height: 1.04;
}
.jm-super-heder {
    font-size: 96px;
	font-weight: 300;
	line-height: 0.94;
}
.jm-thin, .jm-thin h1 {
    font-weight: 300;
}

body .et_pb_button.jm-hollow-purple-btn {
    border: solid 2px #c5763a!important;
    color: #c5763a!important;
    background-color: transparent!important;
}
body .et_pb_button.jm-hollow-purple-btn:hover {
    border: solid 2px #c5763a!important;
    color: #fff!important;
    background-color: #c5763a!important;
}

body .et_pb_button.jm-hollow-white-btn {
    border: solid 2px #fff!important;
    color: #fff!important;
    background-color: #c5763a!important;
}
body .et_pb_button.jm-hollow-white-btn:hover {
    border: solid 2px #fff!important;
    color: #c5763a!important;
    background-color: #fff!important;
}

.jm-ingress{
    font-size: 20px;
    font-weight: normal;
	line-height: 1.5;
}

.jm-ingress .et_pb_slide_description .et_pb_slide_title {
    font-weight: 300!important;
    line-height: 1.5;
}
.jm-facts-box {
    background-color: #c5763a;
    color: #fff;
    padding: 30px 25px 40px 25px;
    font-size: 18px;
    line-height: 30px;
}
.jm-top-banner-header h1{
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 1.5;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: none;
}
.jm-facts-box h3 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    margin-top: 0;
}
.jm-facts-box a {
    color: #fff;
    text-decoration: underline;
}
.jm-facts-box a:hover {
    color: #4e154c;
}
@media (min-width: 981px) {
    .jm-uthangande-left {
        float: left;
        width: 328px;
        margin-right: 50px!important;
        margin-left: -140px!important;
    }
    .jm-uthangande-right {
        float: right;
        width: 328px;
        margin-right: -140px!important;
        margin-left: 50px!important;
    }
    .jm-top-banner-header h1 {
        font-size: 40px;
    }
}
@media (max-width: 479px) {
    .jm-vinjett {
        text-align: center;
    }
}

/****** Share buttons ******/
#content-area .jm-share-buttons ul{
    list-style-type: none;
    padding: 0;
}
.jm-share-buttons p {
    margin-bottom: 13px;
}
.jm-icons {
    float: left;
    margin-right: 15px;
}
.icon::before {
    font-family: ETmodules!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-transform: none;
    speak: none;
    color: #fff;
}
.et-social-facebook a::before {
    border: solid 2px #fff;
    border-radius: 50%;
    padding: 5px;
}

.et-social-twitter a::before {
    border: solid 2px #fff;
    border-radius: 50%;
    padding: 5px;
}

/*-----*****----------OVER ALL STYLING----------*****-----*/
input {
    border-radius: 0;
}
/*buttons*/
.et_button_no_icon .et_pb_button,
.et_pb_module .et_pb_button, .et_pb_button {
    color: #fff!important;
    font-size: 14px;
    padding: 15px 30px 15px 30px!important;

}
.et_button_left .et_pb_button:hover,
.et_button_left .et_pb_module .et_pb_button:hover,
.et_button_icon_visible.et_button_left .et_pb_button,
.et_button_left.woocommerce a.button.alt:hover,
.et_button_left.woocommerce-page a.button.alt:hover,
.et_button_left.woocommerce button.button.alt:hover,
.et_button_left.woocommerce-page button.button.alt:hover,
.et_button_left.woocommerce input.button.alt:hover,
.et_button_left.woocommerce-page input.button.alt:hover,
.et_button_left.woocommerce #respond input#submit.alt:hover,
.et_button_left.woocommerce-page #respond input#submit.alt:hover,
.et_button_left.woocommerce #content input.button.alt:hover,
.et_button_left.woocommerce-page #content input.button.alt:hover,
.et_button_left.woocommerce a.button:hover,
.et_button_left.woocommerce-page a.button:hover,
.et_button_left.woocommerce button.button:hover,
.et_button_left.woocommerce-page button.button:hover,
.et_button_left.woocommerce input.button:hover,
.et_button_left.woocommerce-page input.button:hover,
.et_button_left.woocommerce #respond input#submit:hover,
.et_button_left.woocommerce-page #respond input#submit:hover,
.et_button_left.woocommerce #content input.button:hover,
.et_button_left.woocommerce-page #content input.button:hover,
.et_button_icon_visible.et_button_left.woocommerce a.button.alt,
.et_button_icon_visible.et_button_left.woocommerce-page a.button.alt,
.et_button_icon_visible.et_button_left.woocommerce button.button.alt,
.et_button_icon_visible.et_button_left.woocommerce-page button.button.alt,
.et_button_icon_visible.et_button_left.woocommerce input.button.alt,
.et_button_icon_visible.et_button_left.woocommerce-page input.button.alt,
.et_button_icon_visible.et_button_left.woocommerce #respond input#submit.alt,
.et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit.alt,
.et_button_icon_visible.et_button_left.woocommerce #content input.button.alt,
.et_button_icon_visible.et_button_left.woocommerce-page #content input.button.alt,
.et_button_icon_visible.et_button_left.woocommerce a.button,
.et_button_icon_visible.et_button_left.woocommerce-page a.button,
.et_button_icon_visible.et_button_left.woocommerce button.button,
.et_button_icon_visible.et_button_left.woocommerce-page button.button,
.et_button_icon_visible.et_button_left.woocommerce input.button,
.et_button_icon_visible.et_button_left.woocommerce-page input.button,
.et_button_icon_visible.et_button_left.woocommerce #respond input#submit,
.et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit,
.et_button_icon_visible.et_button_left.woocommerce #content input.button,
.et_button_icon_visible.et_button_left.woocommerce-page #content input.button,
.et_button_no_icon .et_pb_button,
.et_button_no_icon .et_pb_button:hover,
.et_button_no_icon.et_button_icon_visible.et_button_left .et_pb_button,
.et_button_no_icon.et_button_left .et_pb_button:hover,
.et_button_no_icon.woocommerce a.button.alt,
.et_button_no_icon.woocommerce-page a.button.alt,
.et_button_no_icon.woocommerce button.button.alt,
.et_button_no_icon.woocommerce-page button.button.alt,
.et_button_no_icon.woocommerce input.button.alt,
.et_button_no_icon.woocommerce-page input.button.alt,
.et_button_no_icon.woocommerce #respond input#submit.alt,
.et_button_no_icon.woocommerce-page #respond input#submit.alt,
.et_button_no_icon.woocommerce #content input.button.alt,
.et_button_no_icon.woocommerce-page #content input.button.alt,
.et_button_no_icon.woocommerce a.button,
.et_button_no_icon.woocommerce-page a.button,
.et_button_no_icon.woocommerce button.button,
.et_button_no_icon.woocommerce-page button.button,
.et_button_no_icon.woocommerce input.button,
.et_button_no_icon.woocommerce-page input.button,
.et_button_no_icon.woocommerce #respond input#submit,
.et_button_no_icon.woocommerce-page #respond input#submit,
.et_button_no_icon.woocommerce #content input.button,
.et_button_no_icon.woocommerce-page #content input.button,
.et_button_no_icon.woocommerce a.button.alt:hover,
.et_button_no_icon.woocommerce-page a.button.alt:hover,
.et_button_no_icon.woocommerce button.button.alt:hover,
.et_button_no_icon.woocommerce-page button.button.alt:hover,
.et_button_no_icon.woocommerce input.button.alt:hover,
.et_button_no_icon.woocommerce-page input.button.alt:hover,
.et_button_no_icon.woocommerce #respond input#submit.alt:hover,
.et_button_no_icon.woocommerce-page #respond input#submit.alt:hover,
.et_button_no_icon.woocommerce #content input.button.alt:hover,
.et_button_no_icon.woocommerce-page #content input.button.alt:hover,
.et_button_no_icon.woocommerce a.button:hover,
.et_button_no_icon.woocommerce-page a.button:hover,
.et_button_no_icon.woocommerce button.button:hover,
.et_button_no_icon.woocommerce-page button.button:hover,
.et_button_no_icon.woocommerce input.button:hover,
.et_button_no_icon.woocommerce-page input.button:hover,
.et_button_no_icon.woocommerce #respond input#submit:hover,
.et_button_no_icon.woocommerce-page #respond input#submit:hover,
.et_button_no_icon.woocommerce #content input.button:hover,
.et_button_no_icon.woocommerce-page #content input.button:hover,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce a.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page a.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce button.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page button.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #respond input#submit.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #content input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #content input.button.alt,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce a.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page a.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce button.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page button.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce input.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page input.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #respond input#submit,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #content input.button,
.et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #content input.button,
.et_button_no_icon.et_button_left.woocommerce a.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page a.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce button.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page button.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce #respond input#submit.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page #respond input#submit.alt:hover,
.et_button_no_icon.et_button_left.woocommerce #content input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce-page #content input.button.alt:hover,
.et_button_no_icon.et_button_left.woocommerce a.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page a.button:hover,
.et_button_no_icon.et_button_left.woocommerce button.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page button.button:hover,
.et_button_no_icon.et_button_left.woocommerce input.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page input.button:hover,
.et_button_no_icon.et_button_left.woocommerce #respond input#submit:hover,
.et_button_no_icon.et_button_left.woocommerce-page #respond input#submit:hover,
.et_button_no_icon.et_button_left.woocommerce #content input.button:hover,
.et_button_no_icon.et_button_left.woocommerce-page #content input.button:hover,
.woocommerce input.button,
.woocommerce input.button:hover {
	padding: 15px 30px 15px 30px!important;
}
.et_pb_module .et_pb_button:hover, .et_pb_button:hover, .et_button_no_icon .et_pb_button:hover {
    font-size: 14px;
    padding: 15px 30px 15px 30px!important;
}
.et_pb_module .et_pb_button::after, .et_pb_button::after {
    top: 17px;
    font-size: 20px;

}
.et_pb_module .et_pb_button:hover::after, .et_pb_button:hover::after {
    left: 0.5em!important;
}
/*links*/
a {
    font-weight: bold;
}
.more-link::before, .jm-arrowed-link::before {
    font-family: "ETmodules" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-transform: none;
    speak: none;
    content: "\24";
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: -27px;
    top: -1px;
}
.more-link, .jm-arrowed-link {
    position: relative;
    margin-left: 27px;
}
.entry-content a:hover,
.et_pb_section a:hover,
.more-link:hover, .jm-arrowed-link:hover,
.entry-content a:focus,
.et_pb_section a:focus,
.more-link:focus, .jm-arrowed-link:focus {
    color: #4e154c;
}
.jm-underlined-link:hover {
    text-decoration: underline;
}


/*ljudspelare*/
.mejs-currenttime {
    line-height: 1;
}
.entry-content .mejs-horizontal-volume-slider::before{
    content: "";
}
.et_pb_audio_module_content h2 {
    font-size: 30px;
	font-weight: 300;
	line-height: 1.33;
	text-align: center;
}
.et_audio_module_meta {
    font-size: 12px;
}
/*bildtexter*/
@media (min-width: 981px) {
    .et_pb_gutters2 .et_pb_column_2_3 .et_pb_module,
    .et_pb_gutters2.et_pb_row .et_pb_column_2_3 .et_pb_module,
    .et_section_specialty .et_pb_gutters2.et_pb_row .et_pb_column_2_3 .et_pb_module,
    .et_section_specialty .et_pb_row .et_pb_column_2_3 .et_pb_gutters2.et_pb_row_inner .et_pb_module {
        margin-bottom: 6.65%;
    }
}
#et-main-area .image-caption p, #et-main-area p.image-caption {
    font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #000000;
    margin-top: 15px;
}

/*et_pb_team_member_description*/
.et_pb_team_member_description h4{
    margin-top: 20px;
}

@media only screen and (min-width: 981px)
{
    h4, .et_pb_circle_counter h3, .et_pb_number_counter h3, .et_pb_column_1_3 .et_pb_post h2,
    .et_pb_column_1_4 .et_pb_post h2, .et_pb_blog_grid h2, .et_pb_column_1_3
    .et_quote_content blockquote p, .et_pb_column_3_8 .et_quote_content blockquote p,
    .et_pb_column_1_4 .et_quote_content blockquote p, .et_pb_blog_grid .et_quote_content blockquote p,
    .et_pb_column_1_3 .et_link_content h2, .et_pb_column_3_8 .et_link_content h2, .et_pb_column_1_4
    .et_link_content h2, .et_pb_blog_grid .et_link_content h2, .et_pb_column_1_3 .et_audio_content h2,
    .et_pb_column_3_8 .et_audio_content h2, .et_pb_column_1_4 .et_audio_content h2, .et_pb_blog_grid .et_audio_content h2,
    .et_pb_column_3_8 .et_pb_audio_module_content h2, .et_pb_column_1_3 .et_pb_audio_module_content h2,
    .et_pb_gallery_grid .et_pb_gallery_item h3, .et_pb_portfolio_grid .et_pb_portfolio_item h2,
    .et_pb_filterable_portfolio_grid .et_pb_portfolio_item h2 {
        font-size: 18px!important;
    }
}

/*no borders on widget areas*/
.et_pb_widget_area_left {
    border-right: none;
}
.et_pb_widget_area_right {
    border-left: none;
}

/*posts & pages with sidebar*/
@media (min-width: 981px) {
    .et_pb_gutter.et_pb_gutters2 #left-area {
        width: 62.11%;
    }
    .et_pb_gutters2.et_right_sidebar #left-area {
        padding-right: 3.125%;
    }
    .et_pb_gutter.et_pb_gutters2 #sidebar {
        width: 31.25%;
    }

    #left-area, .page .et_pb_column_2_3.et_pb_column_1 {
        padding-right: 45px;
        border-right: solid 1px #d4d4d4;
    }
    /*Header desktop*/
    .et_header_style_left #et-top-navigation nav > ul > li > a,
    .et_header_style_split #et-top-navigation nav > ul > li > a{
        padding-bottom: 16px!important;
        padding-top: 17px;
    }

    #top-menu .menu-item-has-children > a:first-child:after, #et-secondary-nav .menu-item-has-children > a:first-child:after {
        top: 17px;
    }
    #top-menu li li a{
        padding: 0;
    }
    #main-header .nav li ul {
        padding-top: 25px;
        padding-bottom: 20px;
        border-top: none;
    }
    .nav li ul {
        width: auto;
    }
    #main-header .nav li ul a {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        padding-bottom: 20px;
    }
    #top-menu li.current-menu-item > a {
        color: #c5763a!important;
        text-decoration: underline;
    }
    .nav ul li a:hover, .et_mobile_menu li a:hover {
        background-color: inherit;
        color: inherit;
        text-decoration: underline!important;
    }
    #top-menu-nav > ul > li > a:hover, #et-secondary-menu > ul > li > a:hover, #et-info-email:hover, .et-social-icons a:hover,
    #top-menu-nav > ul > li > a:focus, #et-secondary-menu > ul > li > a:focus, #et-info-email:focus, .et-social-icons a:focus{
        opacity: 1;
        color: #c5763a;
    }
    #logo {
        padding-bottom: 20px;
    }
    #top-header .container {
        padding-top: 20px;
    }

}

/*mobile menu*/
@media (max-width: 980px){
    .container{
        width: 100%;
    }
    #mobile_menu {
        background-color: #c1ac95;
        border-color: #fff;
        color: #000;
    }
    .et_mobile_menu .menu-item-has-children > a, .et_mobile_menu li a{
        border-color: rgba( 255, 255, 255, 0.6 );
        background-color: inherit;
        color: #000!important;
    }
}



#left-area ul, .entry-content ul, .comment-content ul, body.et-pb-preview #main-content .container ul {
    padding-left: 0;
}

/*main menu items to the right of logo*/
#et-top-navigation {
    float: none;
    padding-left: 174px!important;
}

/*forms*/
input[type=text], input[type=password],
input[type=tel], input[type=email],
input.text, input.title, textarea, select {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 16px;
    border: solid 1px #9b9b9b;
    font-size: 16px;
    margin: 0;
}
input[type=text]:focus, input[type=password]:focus,
input[type=tel]:focus, input[type=email]:focus,
input.text:focus, input.title:focus, textarea:focus, select:focus, input:focus {
    border: 2px solid #c5763a;
}

/*newsletterform*/
.mc4wp-form {
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
}

.mc4wp-form label{
    display: none;
}
.mc4wp-form input[type=submit]{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
    border: solid 2px #ffffff;
    background-color: #c5763a;
    padding: 18px 30px;
    cursor: pointer;
}
.mc4wp-form input[type=submit]:hover {
    border: solid 2px #fff!important;
    color: #c5763a!important;
    background-color: #fff!important;
}
.mc4wp-form ::placeholder {
    font-weight: normal;
    font-size: 16px;
	line-height: 1.38;
	color: #7e7e7e;

}

/*newsletter on startpage*/
.mc4wp-form h2 {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.2;
	color: #ffffff;
    margin-top: 0;
}
.mc4wp-form-fields p:nth-child(2) {
    font-size: 16px;
	line-height: 1.38;
	color: #ffffff;
    font-weight: normal;
}
.mc4wp-form-fields p:nth-child(5) {
    text-align: center;
}
.mc4wp-form input{
    width: 100%;
    border: 2px solid #fff;
}
.mc4wp-form input[type=submit]{
    width: 200px;
    border: 2px solid #fff;
}

/*newsletter in sidebar*/
.jm-sidebar-newsletter .mc4wp-form {
    background-color: #c5763a;
    padding: 26px;
}
.jm-sidebar-newsletter .mc4wp-form p{
    color: #fff;
    font-size: 16px;
}
.jm-sidebar-newsletter .mc4wp-form h2{
    font-size: 30px!important;
}
.jm-sidebar-newsletter .mc4wp-form-fields p:nth-child(5) {
    text-align: center;
}

/*newsletter on newsletter page*/
.jm-newsletter-form .mc4wp-form input{
    width: 100%;
    border: solid 1px #9b9b9b;
}
.jm-newsletter-form .mc4wp-form input:focus {
    border: 2px solid #4e154c
}
.jm-newsletter-form .mc4wp-form-fields p:nth-child(5) {
    text-align: left;
}
.jm-newsletter-form .mc4wp-form input[type=submit]{
    background-color: #c5763a!important;
    color: #fff!important;
    border: none!important;
    width: auto;
}
.jm-newsletter-form .mc4wp-form input[type=submit]:hover{
    background-color: #4e154c!important;
    color: #fff!important;
    border: none!important;
}
.jm-newsletter-form .mc4wp-form h2 {
    color: #000;
}
.jm-newsletter-form .mc4wp-form-fields p:nth-child(2) {
    color: #000;
}

/*blog module grid view & IC post list widget*/
.et_pb_blog_grid_wrapper .post-content p, .post-list-grid .post-content p {
    color: #000;
    font-size: 16px;
	line-height: 1.5;
    margin-bottom: 18px;
}
.et_pb_blog_grid .et_pb_post {
    border: none;
    background-color: transparent;
    padding: 0;
}
.post-list-grid .entry-title {

}
/*no img*/
.et_pb_blog_grid .et_pb_post h2:first-child {
    background-color: #4e154c;
    color: #fff;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}
.et_pb_blog_grid .et_pb_post p:nth-child(2).post-meta {
    margin-top: 27px;
}


.postlist_image_block {
    padding-top: 60%;
    background-size: cover;
}
.et_pb_blog_grid .et_pb_image_container {
    margin: 0;
}
.et_pb_blog_grid .post-meta {
    font-size: 12px!important;
    color: #000!important;
    margin-bottom: 0;
}
.et_pb_blog_grid .et_pb_image_container a::before,
.et_pb_blog_grid .entry-title a::before,
.post-list-grid .entry-featured-image-url::before,
.post-list-grid .entry-title a::before{
    content: none;
}
.et_pb_blog_grid .et_pb_image_container a,
.et_pb_blog_grid .entry-title a,
.post-list-grid .entry-featured-image-url,
.post-list-grid .entry-title a {
    margin-left: 0;
    font-size: 22px;
	font-weight: bold;
	line-height: 1.45;
}
.et_pb_blog_grid .entry-title, .post-list-grid .entry-title {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 15px;
    line-height: 32px!important;
}
.et_pb_post .entry-content {
    padding-top: 0;
}

@media (min-width: 981px) {
    .et_pb_column_4_4 .jm-exhibition-grid .et_pb_widget:nth-child(4n+1) {
        clear: none;
    }
    .ic_selected_posts_widget {
        width: 31.333%!important;
        margin-right: 3%!important;
    }
    .jm-highlights .ic_selected_posts_widget {
        width: 48.5%!important;
        margin-right: 3%!important;
    }
    .jm-exhibition-grid .ic_selected_posts_widget:nth-child(3n+3) {
        margin-right: 0%!important;
    }
    .jm-highlights .ic_selected_posts_widget:nth-child(2n+2) {
        margin-right: 0%!important;
    }

}
.jm-exhibition-grid .post-content a{
    color: #c5763a!important;
}
.jm-exhibition-grid .post-content a:hover{
    color: #4e154c!important;
}

.jm-exhibition-grid.white .post-content a, .jm-exhibition-grid.white .post-content p, .jm-exhibition-grid.white h2 {
    color: #fff!important;
}
.jm-exhibition-grid.white .post-content a:hover{
    color: #fff!important;
    text-decoration: underline;
}
.jm-exhibition-grid.white a:hover {
    color: #fff!important;
}

.et_pb_gutters2 .et_pb_column_4_4 .et_pb_widget.ic_selected_posts_widget,
.ic_selected_posts_widget {
    width: 100%;
    margin-bottom: 0;
}
.ic_selected_posts_widget article {
    margin-bottom: 9.574%;
}
/*Archive widget*/
.widget_archive {
    font-size: 20px;
    color: #000;
}
.widget_archive h4.widgettitle {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: normal;
}
.widget_archive a {
    color: #000;
    font-weight: normal;
    text-transform: capitalize;
}
/*-----*****----------FOOTER----------*****-----*/
/*footer*/
#main-footer {
    border-top: solid 1px #d4d4d4;
}

/*newsletter form in footer*/

.footer-widget .mc4wp-form h2{
    font-size: 36px;
	font-weight: 300;
	line-height: 1.2;
	color: #000000;
}
.footer-widget .mc4wp-form p{
    width: 100%;
}
.footer-widget .mc4wp-form input{
    width: 100%;
    border: solid 1px #9b9b9b;
}
.footer-widget .mc4wp-form input:focus{
    border: 1px solid #c5763a;
}

.footer-widget .mc4wp-form input[type=submit]{
    width: 200px;
    border: none;
}
.footer-widget .mc4wp-form input[type=submit]:hover{
    background-color: #744727!important;
    color: #fff!important;
    border: none!important;
}
.footer-widget .mc4wp-form-fields p {
    float: left;
    font-size: 16px;
	line-height: 1.38;
	color: #000000;
    font-weight: normal;
}
.footer-widget .mc4wp-form-fields p:nth-child(2) {
    float: none;
    padding-bottom: 27px;
    width: 100%;
}
.footer-widget .mc4wp-form-fields p:nth-child(3) {
    margin-right: 21px;
}
.footer-widget .mc4wp-form-fields p:nth-child(5) {
    text-align: left;
}

/*publisher footer*/
.jm-publisher {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.jm-publisher p{
    color: #000;
    font-size: 18px;
	line-height: 1.89;
    font-weight: normal;
}
.jm-publisher img {
    width: 150px;
    margin-bottom: 25px;
}

/*opening hours footer widget, location footer widget, social follow widget*/
.jm-opening-hours, .jm-location, .jm-social-follow{
    color: #000;
    font-size: 24px;
	font-weight: normal;
    line-height: 1.83;
}
.jm-social-follow a:last-child{
    margin-left: 15px;
}
.jm-opening-hours span, .jm-location span, .jm-social-follow span {
    font-weight: bold;
}
.jm-opening-hours img {
    width: 45px;
}
.jm-opening-hours p, .jm-location p,  .jm-social-follow p{
    padding: 0;
}
.jm-social-follow p {
    margin-bottom: 15px;
}
.jm-location img {
    width: 39px;
}
.jm-social-follow img {
    width: 60px;
}
/*footer*/
@media (min-width: 981px){
    .et_pb_gutters2.et_pb_footer_columns2 .footer-widget:first-child {
        width: 62.415%;
    }
    .et_pb_gutters2.et_pb_footer_columns2 .footer-widget:last-child {
        width: 34%;
    }
    /*newsletter form in footer*/
    .et_pb_gutters2.et_pb_footer_columns2 .footer-widget .widget_mc4wp_form_widget {
        margin-bottom: 110px;
        width: 100%;
    }
    .footer-widget .mc4wp-form p{
        width: 43.936%;      /*351px*/
    }
    /*publisher footer*/
    .jm-publisher {
        flex-direction: row;
    }
    .jm-publisher img {
        width: 150px;
        margin-right: 50px;
        margin-bottom: 0;
    }


}
@media (max-width: 980px) {
    #footer-widgets {
        margin-left: 10px;
        margin-right: 20px;
    }

    #footer-widgets .footer-widget .fwidget:last-child {
        width: 100%;
    }
    .jm-publisher p, .jm-opening-hours, .jm-location, .jm-social-follow {
        text-align: center;
    }
}


/*-----*****----------BLOG----------*****-----*/
/*comment section*/
#comment-wrap {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 25px;
}
#comment-wrap h3, #comment-wrap h1 {
    font-weight: 300;
    font-size: 36px;
}
#commentform textarea, #commentform input[type="text"], #commentform input[type="email"], #commentform input[type="url"] {
    padding: 12px;
    border: solid 1px #9b9b9b;
    color: #999;
    background-color: #fff;
    font-size: 16px;
}
#commentform input[type="submit"], .comment-reply-link {
    font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
    border: none;
    background-color: #c5763a;
    border-radius: 0;
    padding: 15px 30px!important;
}
.comment_area .comment-reply-link {
    color: #fff!important;
    padding: 0.3em 1em;
}
.comment_area .comment-reply-link:hover {
    background-color: #c5763a;
    color: #fff;
    border: none;
}
.form-submit {
    float: none;
}
#commentform {
    padding-bottom: 0;
}

/*meta data*/
#left-area .post-meta a, #left-area .post-meta {
    color: rgba(74,74,74,0.8);
    font-size: 14px!important;
    font-weight: normal;
    padding-bottom: 0;
    line-height: 1;
    margin-bottom: 20px;
}
.et_pb_post h2 {
    margin-bottom: 15px;
}


/*blog header*/
.jm-blog-header, .jm-calendar-header, .jm-press-header {
    background-image: url(img/bgr2.jpg);
    background-size: cover;
    font-size: 20px;
	line-height: 1.2;
	letter-spacing: 8.3px;
	text-align: center;
	color: #ffffff;
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 70px;
    font-weight: 300;
    position: relative;
    padding-top: 24%;
}
.jm-blog-header p, .jm-calendar-header p, .jm-press-header p {
    margin: 0 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    line-height: 26px;
}
.jm-blog-header-overlay {
    /*background-color: rgba(197,118,58,0.55);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jm-press-header-overlay {
        /*background-color: rgba(78,21,76,0.55);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jm-calendar-header-overlay {
    /*background-color: rgba(197,118,58,0.55);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jm-calendar-header {
    background-image: url(img/bgr.png);
}

.jm-press-header {
    background-image: url(img/bgr3.jpg);

}
.jm-press-header-overlay {
    background-color: rgba(151,20,151,0.5);
}

@media (min-width: 981px) {

}
/*bottom navigation*/
.bottom-navigation {
    margin-top: 50px;
}
.bottom-navigation p {
    padding: 0;
}
.bottom-navigation a{
    border: solid 2px #c5763a;
    color: #c5763a;
    background-color: transparent;
    padding: 15px 30px;
    float: left;
    font-size: 14px;
    display: block;
}
.bottom-navigation a:first-child {
    margin-right: 20px;
    margin-bottom: 10px;
}

.bottom-navigation a:hover {
    border: solid 2px #c5763a;
    color: #fff;
    background-color: #c5763a;
    padding: 15px 30px;
    font-size: 14px;
}

/*blog archive/start page*/
.jm-blog-read-more {
    margin-top: 25px;
}
.blog .et_pb_post {
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #d4d4d4;
}

@media (min-width: 981px) {
    /*comment section*/
    #comment-wrap {
        padding: 30px;
        margin-top: 70px;
    }
    #comment-wrap h3 {
        font-size: 36px;
    }

    /*blog header*/
    #main-content .container:before {
        display: none;
    }
    .jm-blog-header, .jm-calendar-header, .jm-press-header{
        padding-top: 238px;
    }
    .jm-blog-header-overlay p, .jm-press-header-overlay p{
    font-size: 40px;
    padding-top: 140px;
    padding-bottom: 140px;
    }
}

/*page navi*/
.wp-pagenavi a:hover, .wp-pagenavi span.current {
    color: #c5763a!important;
}
.wp-pagenavi span {
    color: #000;
}

/*toggle module*/
.et_pb_toggle {
    border: none;
}
.et_pb_toggle h5.et_pb_toggle_title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 15px;
}
.et_pb_toggle_open h5.et_pb_toggle_title {
    border: none;
}
.et_pb_toggle_title:before {
    position: static;
    padding-right: 5px;
    content: "\50";
    font-weight: bold;
    color: #fff;
}
.et_pb_toggle_open .et_pb_toggle_title:before {
    content: "\4f";
}

/*gravity forms*/
.gfield {
    display: block;
    font-size: 16px;
}
.gfield label, .gform_validation_container {
    display: none!important;
}
.gform_heading {
    display: none;
}
.gfield ::placeholder {
    font-size: 16px;
}
.gform_wrapper .gform_footer input[type=submit] {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border: none;
    background-color: #c5763a;
    padding: 18px 30px;
    cursor: pointer;
}
.gform_wrapper .gform_footer input[type=submit]:hover {
    color: #ffffff;
    border: none;
    background-color: #4e154c;
    padding: 18px 30px;
    cursor: pointer;
}


/*contact form*/

.jm-contact .gfield {
    width: 48.492%;
    float: left;
    margin-bottom: 30px;
}
.jm-contact .gfield input {
    width: 100%;
}
.jm-contact .gform_wrapper ul li.gfield {
    clear: none;
}
.jm-contact li:first-child {
    margin-right: 20px;
}
.jm-contact li:nth-child(3) {
    width: 100%;
}
.jm-contact li:nth-child(3) textarea {
    width: 100%;
}

@media (max-width: 980px) {
    .jm-contact .gfield {
        width: 100%;
        margin-bottom: 13px;
    }
}

/*Default form style*/
.jm-form .gfield{
    width: 100%;
}
.jm-form input[type=text],
.jm-form input[type=password],
.jm-form input[type=tel],
.jm-form input[type=email],
.jm-form input.text,
.jm-form input.title,
.jm-form textarea,
.jm-form select {
    width: 100%;
    margin-bottom: 13px;
}
.jm-form .instruction {
    display: none;
}

/*subpage list from shortcode [subpage_list]*/
.et_pb_widget .jm-subpage-list ul li,
.jm-subpage-list li{
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    text-align: center;
    margin-bottom: 35px;
}
.et_pb_bg_layout_light .et_pb_widget .jm-subpage-list li a, .jm-subpage-list li a {
    color: #fff;
}


/*Instagram feed*/
@media (max-width: 980px)
{
    .et_pb_column .et_pb_blog_grid .column.size-1of2, .et_pb_column .et_pb_widget:nth-child(n) {
        width: 100% !important;
        margin: 0 !important;
    }
    .jm-instagram-feed.et_pb_row.et_pb_row_fullwidth {
        width: 100%!important;
        max-width: 100%!important;
    }
}

.et_pb_gutters2 .et_pb_column_4_4 .et_pb_widget.null-instagram-feed {
    width: 100%;
    margin: 0;
}
.null-instagram-feed li {
    width: 100%;
    display: block;
    height: 100%;
}
.null-instagram-feed ul li {
    margin-bottom: 0;
}
.null-instagram-feed a, .null-instagram-feed a::before {
    content: none;
    margin-left:0;
}

.null-instagram-feed p {
    display: none;
}
.instagram-pics a {
    display: block;
}
.instagram-pics img {
    display: block;
    float: left;
}
/*instagram follow on startpage*/
.jm-follow-insta .et_pb_text_inner{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 981px) {
    /*Instagram feed*/
    .null-instagram-feed ul li {
        width: 25%;
        float: left;
        margin-bottom: 0;
    }
    .et_pb_gutters2 .et_pb_row.et_pb_row_fullwidth.jm-instagram-feed {
        width: 100%!important;
        max-width: 100%!important;
    }
    /*instagram follow on startpage*/
    .jm-follow-insta .et_pb_text_inner{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
    }
    .jm-follow-insta .et_pb_text_inner p {
        padding: 0;
    }
    .jm-follow-insta a {
        margin-left: 17px;
    }
}


/*-----*****----------VISITOR CONTRIBUTION----------*****-----*/
.jm-contributor-form input[type=text],
.jm-contributor-form input[type=email],
.jm-contributor-form textarea{
    width: 100%;

}
.jm-contributor-form .gfield {
    margin-bottom: 20px;
}
.entry-content .jm-contributor-form ul {
    padding-bottom: 0;
}
.jm-contributor-form li {
    display: block;
}
.jm-contributor-form .gfield_radio li {
    display: inline-block;
}
.jm-contributor-form .gfield_radio label,
.jm-contributor-form .gfield_checkbox label {
    display: inline-block!important;
    color: #fff;
    margin-right: 15px;
}

.jm-contributor-form .jm-file-upload-btn input[type=file] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.jm-contributor-form .jm-file-upload-btn label {
    display: inline-block!important;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border: none;
    background-color: #c5763a;
    padding: 18px 30px;
    cursor: pointer;
    line-height: normal;
    margin-bottom: 20px;
}
.jm-contributor-form .jm-file-upload-btn label:hover {
    color: #ffffff;
    border: none;
    background-color: #744727;
    padding: 18px 30px;
    cursor: pointer;
}

.jm-contributor-form .gform_body [type="checkbox"]:not(:checked),
.jm-contributor-form .gform_body [type="checkbox"]:checked,
.jm-contributor-form .gform_body [type="radio"]:not(:checked),
.jm-contributor-form .gform_body [type="radio"]:checked {
  position : absolute;
  left     : -9999px;
}

.jm-contributor-form .gform_body [type="checkbox"]:not(:checked) + label,
.jm-contributor-form .gform_body [type="checkbox"]:checked + label,
.jm-contributor-form .gform_body [type="radio"]:not(:checked) + label,
.jm-contributor-form .gform_body [type="radio"]:checked + label {
  position     : relative;
  padding-left : 30px;
  cursor       : pointer;
  font-size: 15px;
}
.jm-contributor-form .gfield_checkbox a{
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
}


.jm-contributor-form .gform_body [type="checkbox"]:not(:checked) + label:before,
.jm-contributor-form .gform_body [type="checkbox"]:checked + label:before,
.jm-contributor-form .gform_body [type="radio"]:not(:checked) + label:before,
.jm-contributor-form .gform_body [type="radio"]:checked + label:before {
  font-family: "ETmodules" !important;
  content    : '\56';
  position   : absolute;
  left       : 0px;
  top        : -2px;
  color: #fff;
  font-size: 20px;
}

.jm-contributor-form .gform_body [type="checkbox"]:not(:checked) + label:after,
.jm-contributor-form .gform_body [type="checkbox"]:checked + label:after,
.jm-contributor-form .gform_body [type="radio"]:not(:checked) + label:after,
.jm-contributor-form .gform_body [type="radio"]:checked + label:after {
  font-family             : "ETmodules" !important;
  content                 : '\5a';
  text-rendering          : optimizeLegibility;
  font-feature-settings   : "liga" 1;
  font-style              : normal;
  text-transform          : none;
  line-height             : 22px;
  font-size               : 21px;
  text-align              : center;
  position                : absolute;
  top                     : 0px;
  left                    : 0px;
  display                 : inline-block;
  overflow                : hidden;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  color                   : #fff;
}

.jm-contributor-form .gform_body [type="checkbox"]:not(:checked) + label:after,
.jm-contributor-form .gform_body [type="radio"]:not(:checked) + label:after {
  opacity   : 0;
}

.jm-contributor-form .gform_body [type="checkbox"]:checked + label:after,
.jm-contributor-form .gform_body [type="radio"]:checked + label:after {
  opacity   : 1;
}
.jm-contributor-form .gform_body [type="checkbox"]:checked + label::before,
.jm-contributor-form .gform_body [type="radio"]:checked + label::before {
  opacity   : 0;
}
.jm-contributor-form .gsection_title {
    font-size: 16px!important;
    font-weight: normal;
    line-height: normal;
}
.jm-contributor-form .ginput_counter {
    display: none;
}
.jm-contributor-form .validation_message, .jm-contributor-form .validation_error {
    color: red;
}
/*** grid ***/
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item {
    margin: 0;
}
.jm-contrib-grid .postlist_image_block {
    padding-top: 100%;
    background-size: cover;
}
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item.jm-contributing-no-img .post-meta p,
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item.jm-contributing-no-img .post-meta h2 a {
    color: #000;

}
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item.jm-contributing-no-img .post-meta .project-category a {
    color: #c5763a;
    border-color: #c5763a;
}

@media (min-width: 981px){
    .et_pb_gutters2 .et_pb_column_4_4 .et_pb_grid_item,
    .et_pb_gutters2 .et_pb_column_4_4 .et_pb_filterable_portfolio .et_pb_portfolio_item.et_pb_grid_item {
        margin: 0;
        width: 25%;
    }
}

@media (min-width: 1800px){
    .et_pb_filterable_portfolio_grid .et_pb_portfolio_item {
        width: 20%;
    }
}
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item .post-meta {
    position: absolute;
    top: 25%;
    width: 100%;
    color: #fff;
}
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item .post-meta p {
    font-size: 14px;
	font-weight: bold;
	line-height: 1.57;
	text-align: center;
	color: #ffffff;
}
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item .post-meta .project-category{
    text-align: center;
}
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item .post-meta .project-category a{
    font-size: 12px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 1.17;
	text-align: center;
	color: #ffffff;
    border-radius: 100px;
	border: solid 2px #ffffff;
    padding: 3px 15px;
}
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item .post-meta h2{
    font-size: 38px;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 1.26;
	text-align: center;
	color: #ffffff;
    margin-bottom: 10px;
}
.et_pb_filterable_portfolio_grid .et_pb_portfolio_item .post-meta h2 a{
    color: #fff;
    font-size: 34px;
}

.et_pb_filterable_portfolio_grid .et_pb_portfolio_item .post-meta .jm-user-icon,
.contrib-meta div.inner .jm-user-icon {
    background-image: url(img/avatar.png);
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    width: 40px;
    background-size: contain;
}

/* Single view */
.single-project #main-content .container {
    max-width: 795px;
}
.single-project #main-content {
    background-color: #E3CFE9;
}
.contrib-meta {
    background-color: #461A4A;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}
.contrib-meta div.inner {
    margin: 0 20px;
}
.contrib-meta .jm-contrib-meta-user {
    margin-bottom: 10px;
}
.contrib-meta p {
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
}

.contrib-meta div.inner .jm-user-icon {
    margin-right: 10px;
    float: left;
}

.contrib-meta .et_project_categories {
    font-size: 12px;
    font-weight: bold;
    font-stretch: condensed;
    line-height: 1.17;
    text-align: center;
    color: #ffffff;
    border-radius: 100px;
    border: solid 2px #ffffff;
    padding: 3px 15px;
    float: left;
    margin-right: 10px;
}
.contrib-meta .et_project_categories a {
    color: #fff;
}
.contrib-meta .jm-share-buttons p {
    display: none;
}
.contrib-meta .jm-contrib-meta-share {
    float: right;
    margin-top: 10px;
}
.single-project #main-content .entry-content img {
    max-width: 390px;
}

@media (min-width: 981px){
    .contrib-meta div.inner {
        max-width: 795px;
        margin: auto;
    }

    .contrib-meta .jm-contrib-meta-user {
        float: left;
        margin-bottom: 10px;
    }
}

/*-----*****----------PRESS PAGE----------*****-----*/
.jm-press .entry-featured-image-url {
    width: 40%;
    float: right;
    margin-left: 10px;
}

.jm-press .et_pb_post .post-meta {
    color: #000;
    font-weight: bold;
}
.jm-press .post-content p {
    display: none;
}
.jm-press .more-link::before {
    top: 3px;
}

.sidebar-press .et_pb_widget {
    background-color: #c5763a;
    color: #fff;
    padding: 25px;
}
.sidebar-press .et_pb_widget h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;

}
.sidebar-press .et_pb_widget a {
    display: block;
    color: #fff;
}
.sidebar-press .et_pb_widget a::before {
    top: 3px;
}
